<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Continuum Analytics{% endblock %}</title>

  <link rel="stylesheet" href="{{ static('css/app.css') }}">
  <link rel="stylesheet" href="{{ static('bower_components/rainbow/themes/twilight.css') }}">

    <script src="{{ static('bower_components/modernizr/modernizr.js') }}"></script>

</head>
<body>
  {% block navigation_container %}
    <div class="row header">
      <div class="large-12 columns navigation">
        <ul class="button-group right">
          <li><a href="#" class="button">Products</a></li>
          <li><a href="#" class="button">Consulting</a></li>
          <li><a href="#" class="button">Training</a></li>
          <li><a href="#" class="button">Contact Us</a></li>
        </ul>
      </div>
    </div>
  {% endblock %}

  {% block main_container %}
    {% block content_container %}
      <div class="row">
        <div class="large columns">
          {% block content %}{% endblock %}
        </div>
      </div>
    {% endblock %}
  {% endblock %}


  {% block footer_container %}
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>© Continuum Analytics 2014</p>
          </div>

          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Link 5</a></li>
              <li><a href="#">Link 6</a></li>
              <li><a href="#">Link 7</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  {% endblock footer_container %}

    <script src="{{ static('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ static('bower_components/foundation/js/foundation/foundation.js') }}"></script>
    <script src="{{ static('bower_components/foundation/js/foundation/foundation.equalizer.js') }}"></script>
    <script src="{{ static('bower_components/rainbow/js/rainbow.min.js') }}"></script>
    <script src="{{ static('bower_components/rainbow/js/language/generic.js') }}"></script>
    <script src="{{ static('bower_components/rainbow/js/language/html.js') }}"></script>
    <script src="{{ static('bower_components/rainbow/js/language/python.js') }}"></script>
    <script src="{{ static('js/app.js') }}"></script>
  </body>
</html>
