// Hack to get rows to do what we expect in the demo
.row.grid-examples {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.grid-examples {
  background-color: #eee;


  .columns:nth-child(2) {
    background-color: #ddd;
  }

  .columns {
    text-align: center;
    font-family: monospace;
    padding: 5px inherit;
  }
}
