$continuum-blue: #174977;
$continuum-blue-light: #7199bd; // saturation * .5, brightness * golden ratio

$continuum-green: #2f7618;
$continuum-green-light: #84bd71; // saturation * .5, brightness * golden ratio


// over ride any Foundation settings here
$primary-color: $continuum-blue;
$warning-color: #f2bd83;
$info-color: #b7cbdd;
$alert-color: #bd3939;
$success-color: #5abd39;

$header-font-family: "opensans-semibold";
$header-font-color: $continuum-blue;

$paragraph-font-family: "opensans-regular";

$anchor-font-color: $continuum-blue-light;
a { font-family: "opensans-semibold"; }

