@import "settings";
@import "fonts";
@import "dependencies";

@import "components/header";
@import "components/typography";

// This can be removed for production sites:
@import "components/examples";

.call-to-action {
  position: absolute;
  right: $column-gutter;
  bottom: $column-gutter / 4;
}


pre[data-codeblock] {
  background-color: #eee;
}
code[data-language] {
  background: transparent;
  border: 0;
}
