{% extends "layouts/hero.html" %}
{% import "macros/foundation.html" as foundation %}
{% import "macros/code.html" as code %}

{% block title %}Conda - The Cross Platform Package Manager{% endblock %}

{% block navigation_container %}{% endblock %}

{% block hero %}
  <div class="row">
    <div class="large-12 columns">
      <h1>
        Conda
        <small>The cross platform package manager</small>
      </h1>
    </div>
  </div>

{% endblock %}

{% block content %}
  <div class="row" style="margin-top: 20px;">

    <div class="large-12 columns">

      <div class="row">
        <div class="introduction columns large-12">
          <p>
            Conda is a cross-platform tool for managing packages and
            environments.
          <p>

          <p>
            Packages are libraries, tools, scripts, and configuration that
            provide functionality.  These can be <em>anything</em> that you
            need to share: from Node.js to numpy to different versions of
            Python.
          </p>

          <p>
            Environments are collections of packages that interact with each
            other to provide a context to execute your code.  Both packages –
            the loose pieces – and environments – the collected loose pieces –
            can be packaged and shared across all three major operating
            systems.
          </p>

        </div>
      </div>

      <div class="row getting-started" data-equalizer>
        <div class="small-1 large-6 columns">
          <h2>Already have Python?</h2>

          {% call code.block("bash") %}
$ pip install conda
$ conda init
$ conda create --name work "python&lt;3"
$ source activate work
          {% endcall %}

        </div>

        <div class="small-1 large-6 columns">
          <h2>New to Python?</h2>

          <p>
            Download the latest <a href="#TODO">Miniconda</a> and run
            the self-extracting installer.
          </p>

        </div>

      </div>
    </div>
  </div>
{% endblock %}
